
.article-title {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 800;
    color: #268aa3;
    text-align: center;
}

.article-img {
    width: 40%;
    height: 350px;
    object-fit: cover;
}