
/*==========================================================================
= Estilos Sección Noticias
==========================================================================*/

/*----------------------------------------------------------------------
| Contenedores
----------------------------------------------------------------------*/

.news-blocks {
    display: flex;
    height: 500px;
    overflow: hidden;
}

.news-blocks-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    will-change: filter;
}

.news-blocks .block {
    container: block/inline-size;
    flex: 1;
    margin-right: -20%;
    clip-path: polygon(20% 0, 100% 0%, 80% 100%, 0% 100%);
    transition: .25s flex .125s linear;
    will-change: flex;
    display: grid;
    justify-items: center;
    text-align: center;
    position: relative; 
    cursor: pointer;
}

.news-blocks .block img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.news-blocks .block div {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: clamp(12px, 5cqw, 32px);
    z-index: 2;
}

.news-blocks .block:hover {
    flex: 1.25;
}       

.news-blocks .block:first-child {
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);    
}

.news-blocks .block:last-child {
    margin-right: -15%;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

.news-blocks:has(.block:only-child) {
    height: auto;
}

.news-blocks:has(.block:only-child) .block {
    margin-right: 0;
    clip-path: none;
}

.news-section {
    padding: 20px;
    margin: 10px 0;
}

/*----------------------------------------------------------------------
| Texto
----------------------------------------------------------------------*/

.modal-news-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.news-section-title {
    font-size: 34px;
    font-weight: bold;
}

.news-blocks .block .news-label {
    position: absolute;
    width: 50%;
    font-size: clamp(12px, 5cqw, 20px);
    font-weight: 800;
    color: #fff;
    text-align: start;

    -webkit-text-stroke: 3px #000;
    paint-order: stroke fill;

    text-shadow:
        2px 0 0 #000, -2px 0 0 #000,
        0 2px 0 #000,  0 -2px 0 #000,
        2px 2px 0 #000, -2px 2px 0 #000,
        2px -2px 0 #000, -2px -2px 0 #000;

    overflow-wrap: break-word;
    word-break: break-word;
}

/*======================================================================
| Modal
======================================================================*/
.news-modal-image {
    width: 520px;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

.news-modal-content {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal !important;
}

/*----------------------------------------------------------------------
| Imagen flotante dentro del editor
----------------------------------------------------------------------*/

.news-modal-image-floating {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}