:root {
  --today-title-color: #268aa3;
  --today-text-color: #268aa3;  
}

body.app-contrast {
    --today-title-color: #6d6b6b;
    --today-text-color: #ffffff;
}

.fc-scrollgrid-sync-inner,
.fc-scrollgrid-sync-inner:hover {
  cursor: default;
}

.fc-col-header-cell-cushion {
  text-decoration: none !important;
}

.fc-daygrid-day-number {
  text-decoration: none;
}

.fc-col-header-cell-cushion {
  color: var(--today-title-color);
}

.fc-day-other {
  cursor: default;
}

.fc-daygrid-day-number {
  color: var(--today-text-color);
}

.fc-event {
  background-color: #61b9da;
  border: 1px solid #289cc0;
}

.fc-event-title {
  white-space: normal;
  word-break: break-word;
  line-height: 1.2;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}