/*==========================================================================*/
/*===================== Estilos Sección Galería ============================*/
/*==========================================================================*/

/*----------------------------------------------------------------------
| Contenedores
----------------------------------------------------------------------*/

.gallery-blocks {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap:  1rem;
  width: calc(100% - 100px);
  height: 500px;
  padding: 20px 0;
}

.gallery-block {
  position: relative;
  width: 125px;
  margin: 10px;
  cursor: pointer;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*----------------------------------------------------------------------
| Estados: Activo | Hover
----------------------------------------------------------------------*/

.gallery-block.active,
.gallery-block:not(.active):hover {
  flex-grow: 10000;
  width: 600px;
  margin: 0;
  border-radius: 40px;
  background-size: auto 100%;
}

.gallery-block .gallery-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: inset 0 -120px 0 -120px black, inset 0 -120px 0 -100px black;
}

.gallery-block.active .gallery-shadow,
.gallery-block:not(.active):hover .gallery-shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

/*----------------------------------------------------------------------
| Modal
----------------------------------------------------------------------*/

.gallery-carousel {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

.gallery-carousel .carousel-inner {
  height: 500px;
}

.gallery-carousel .carousel-item,
.gallery-carousel .carousel-item img {
  height: 100%;
}

.gallery-carousel .carousel-item img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.gallery-carousel .carousel-control-prev-icon,
.gallery-carousel .carousel-control-next-icon {
  filter:
    drop-shadow(0 0 2px #000)
    drop-shadow(0 0 2px #000)
    drop-shadow(0 0 2px #000);
}

/*----------------------------------------------------------------------
| Label
----------------------------------------------------------------------*/

.gallery-block .gallery-label {
  display: flex;
  position: absolute;
  right: 0;
  height: 40px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  bottom: 10px;
  left: 10px;
}

.gallery-block.active .gallery-label,
.gallery-block:not(.active):hover .gallery-label {
  bottom: 20px;
  left: 20px;
}

.gallery-block .gallery-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

.gallery-block .gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

.gallery-block .gallery-info > div {
  position: relative;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.6s ease-out;
  left: 20px;
  opacity: 0;
}

.gallery-block.active .gallery-info > div,
.gallery-block:not(.active):hover .gallery-info > div {
  left: 0;
  opacity: 1;
}

.gallery-block .gallery-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.gallery-block .gallery-description {
  transition-delay: 0.1s;
}
