/*========================================================================*/
/*====================== Responsive Content Views ========================*/
/*========================================================================*/

.content-mobile-view {
    display: none;
}

@media (max-width: 1024px) and (hover: none) and (pointer: coarse) {
    .content-desktop-view {
        display: none;
    }

    .content-mobile-view {
        display: block;
    }
}