:root {
  /*----------------------------------------------------------------------
  | Variables Globales: Colores Base y Tipografía
  ----------------------------------------------------------------------*/
  --primary-color: #268AA3;
  --secondary-color: #4ABFE3;
  --body-bg: #ffffff;
  --body-bg-contrast: #f8f8f8;

  --button-color: #268AA3;
  --button-hover-color: #2bbdea;
  --border-color: #d2d2d2;

  /* Modal */
  --btn-primary-color: var(--primary-color);
  --btn-secondary-color: #6c757d;
  
  --surface-bg: #f0f7f9;

  --app-modal-bg: #fff;

  --font-color: inherit;
  --font-scale: 1;
}

html.app-contrast {
  --primary-color: #1b1b1b;
  --secondary-color: #292929;

  --body-bg: #514d4d;
  --body-bg-contrast: #575656;

  /* modal */
  --btn-primary-color: #fff;
  --btn-secondary-color: #cfcfcf;

  --surface-bg: #6d6b6b;

  --app-modal-bg: #6d6b6b;
  
  --button-color: #fff;
  --border-color: #d2d2d2;

  --font-color: #fff;
}

body.mobile-landscape img {
  max-width: 90%;
}

body.is-mobile * {
  transform-origin: top center;
}


/*==========================================================================
= Temas: Estilos Globales por Categoría Visual
==========================================================================*/

html,
body {
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  background-color: var(--body-bg);
  color: var(--font-color);
}

.main-content {
  margin: 0 4%;
}

.ql-editor {
  min-height: auto !important;
  height: auto !important;
  padding: 12px 15px !important;
  overflow-x: hidden !important;
  color: var(--font-color);
}

.ql-editor img {
  object-fit: contain !important;
  max-width: 100% !important;
  border-radius: 5px;
}

.btn-home {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  padding: 6px 18px;
}

.btn-home:hover {
  background-color: var(--secondary-color);
}

/*----------------------------------------------------------------------
| Contenido
----------------------------------------------------------------------*/

.content-section {
  border-top: 6px solid var(--primary-color);
  padding-top: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-section :is(h1, h2, h3, h4, h5, h6, .title):first-of-type {
  text-align: center;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 4px;
}

/*----------------------------------------------------------------------
| Clases generales
----------------------------------------------------------------------*/

.app-modal-header {
  background-color: var(--primary-color);
  color: #fff;
}

.app-modal-close {
  color: #fff;
  filter: invert(1);
}

.app-modal-body {
  background-color: var(--app-modal-bg);
}

.app-modal-footer {
  background-color: var(--app-modal-bg);
}

.app-btn-primary,
.app-btn-secondary {
  background-color: transparent;
  transition: all 0.3s ease;
}

.app-btn-primary {
  color: var(--btn-primary-color);
  border-color: var(--btn-primary-color);
}

.app-btn-primary:hover {
  background-color: var(--btn-primary-color);
  color: #000;
}

.app-btn-secondary {
  color: var(--btn-secondary-color);
  border-color: var(--btn-secondary-color);
}

.app-btn-secondary:hover {
  background-color: var(--btn-secondary-color);
  color: #fff;
}

/*----------------------------------------------------------------------
| noticias - galeria
----------------------------------------------------------------------*/

.content-card .card-header {
  background-color: var(--primary-color);
}

.content-card .card-body,
.content-card .card-footer {
  background-color: var(--body-bg-contrast);
}

.content-card .card-footer {
  border-color: var(--border-color);
}

.content-button {
  color: var(--button-color);
  border-color: var(--button-color);
}

.content-button:hover {
  color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}


/*----------------------------------------------------------------------
| Animaciones
----------------------------------------------------------------------*/

/* Imagenes */

.zoom-hover {
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  z-index: 3;
  transform: scale(1.3);
}